.hero-section{
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url('../../public/images/cabinet-tv-modern-living-room-with-armchair-lamp-table-flower-plant-concrete-wall-background-3d-rendering.jpg');
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
@media only screen and (max-width:1025px){
    .hero-section{
        background-size: cover;
        background-position: center center;
    background-attachment: fixed;
    }
}

.slogan{   
    font-size: 25px;
    letter-spacing: 1vw;
    padding: 5px;
    border: 4px solid;
    text-transform: uppercase;
    
}

.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top:250px ;
    text-align: center;
    color:rgb(199, 199, 199);
    font-family: "Times New Roman", Times, serif;
    text-transform: capitalize;
    font-size: 70px;
    font-weight: 300px;
    letter-spacing: 2vw;
    
}

@media only screen and (max-width: 660px){
    .content{
        font-size: 10vw;
    }

}
