.head-cart{
  margin: 0px 5em;
  font-family: Arial, sans-serif;
}

.head-cart > .heading{
  font-size: 2em;
  margin-bottom: 10px;
}

.heading > h3 {
  font-size: 1em;
  margin-bottom: 0px;
}

.total-items{
  font-size: 1rem;
}

.items-container{
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
  border: 2px solid black;
}

.items-div{
  margin: 20px;
  padding: 20px;
  overflow: auto;

}

.containing-div{
  overflow: auto;
}

.item-div{
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #a3bbaf;
}

.image-desc{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}

.description{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.description #name{
  margin-bottom: 2px;
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
}

.description #short{
  margin: 2px;
  opacity : 0.5;
}

.product-img{
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  justify-content: center;
  background-color: white;
}

.product-img > img{
  max-width: 100%;
  max-height: 100%;
}

.numbers{
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberField{
  width: 30px;
  margin: 5px;
  text-align: center;
}

input:disabled{
  opacity: 1;
  color:black
}

.plus-minus{
  margin: 2px;
  cursor: pointer;
}

.price-cart{
  width: 120px;
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cart-total{
  display: flex;
  flex-direction: row-reverse;
}

.checkout{
  text-align: center;
}

.checkout-button{
  margin-left: 15px;
  height: 40px;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #383838;
  color: white;
  text-transform: capitalize;
  font-size: 15px;
}

.delete {
  margin: 5px;
  display: flex;
  align-items: center;
}

.deleteIcon{
  cursor: pointer;
  padding: 2px;
}

/* @media only screen and (max-width : 600px){
  .item-in-cart{
    flex-direction: column;
  }
} */